{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        {% comment "Removing hardcoded URLs in templates" %}
        <li><a href="/polls/{{ question.id }}">{{ question.question_text }}</a></li>
        {% endcomment %}
        {% comment "Remove because adding namespaced detail view" %}
        <li><a href="{% url 'detail' question_id %}">{{ question.question_text }}</a></li>
        {% endcomment %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}